# === FACEBOOK PAGE ===
FB_PAGE_URL=https://www.facebook.com/SantaAnaAlcaldia
FB_PAGE_NAME=Santa Ana Alcaldía

# === FACEBOOK LOGIN (necesario para Playwright) ===
FB_EMAIL=dagorosales40@gmail.com
FB_PASSWORD=

# === TIKTOK ===
TT_USERNAME=alcaldiasa

# === SCRAPING CONFIG ===
REQUESTS_PER_MINUTE=10
DAYS_BACK=730
MAX_POSTS=20000

# === PROXY (optional) ===
# PROXY_URL=http://user:pass@host:port


# === Bot Telegram ===
TELEGRAM_BOT_TOKEN=8745098441:AAGrmS2X-zvuX-sExcscsH4t5J-7Em2ZUS8
TELEGRAM_CHAT_ID=t.me/DarksasoBot